.static-example .positioned-element{
    left: 100px;
}

.relative-example .positioned-element{
    background-color: lightblue;
    position: relative;
    left: 100px;
    top: 50px;
    z-index: -1; 

    /* z-index brings on all children too */

    /* positive is towards - negative is away */
}

/* creates holes based on offset */

.absolute-example .positioned-element{
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

/* dependent on positioning parent */

.absolute-example{
    position: relative;
}

.fixed-example .positioned-element{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: purple;
    z-index: 9999;
}

/* can be used for a nav bar */

.sticky-example .positioned-element{
    position: sticky;
    background-color: orange;
    top: 50px;
}