*{ 
    font-family: monospace;
    }

h1{
    font-size : 50px;
    color: darkgreen;
}

h2{
    font-size: 32px;
}

p{
    line-height: 1.8;
    font-size: 20px;
}

.Peter{
    color:darkblue;
    font-weight:bold
}

.Dana{
    color:darkred;
    font-weight:bold
}

.Mayor{
    color:darkcyan;
    font-weight:bold
}

.Egon{
    color:darkolivegreen;
    font-weight:bold
}

.Ray{
    color:darksalmon;
    font-weight:bold
}

.Winston{
    color:darkmagenta;
    font-weight:bold
}


